@import "https://unpkg.com/reset-css@5.0.1/reset.css";

body {
    font-family: sans-serif;
}

h1 {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 30px;
    font-weight: bold;
}
input {
    margin: 15px;
}